* {
    padding: 0;
    margin: 0;
    overflow: hidden;
    font-family: Roboto;
}

ul, ol {
    padding-left: 3vmin;
}

li {
    overflow: visible;
}

a {
    color: #3c3c3c;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

body {
    background-image: linear-gradient(45deg, #00000030, transparent);
    background-size: 100vmax 100vmax;
    width: 100vw;
    height: 100vh;
}

.indicator {
    position: absolute;
    bottom: 0;
    height: 2vmin;
    background: #00000050;
    border-radius: 0.3vmin;
}

.exit {
    position: absolute;
    right: 2vmin;
    top: 2vmin;
    font-size: 5vmin;
    opacity: 0.3;
    cursor: pointer;
}

.exit:hover {
    opacity: 0.7;
}

.slides>div {
    position: absolute;
    will-change: transform;
    width: 150vmin;
    height: 100vmin;
    left: calc(50vw - 75vmin);
    top: calc(50vh - 50vmin);
    font-size: 2vmin;
}

.container {
    position: relative;
    width: 150vmin;
    height: 100vmin;
}

.container>* {
    position: absolute;
    text-align: justify;
}

.container p {
    text-indent: 5vmin;
}